@charset "UTF-8";

.sender{
	margin-left : 10px;
	font-size : 13px;
	font-weight: bold;
}
.noteContent{
	margin-left : 10px;
	font-size : 12px;
}
#sendNoteDiv{
	border: 1px solid;
    position: absolute;
    width: 350px;
    background: white;
    bottom: 80px;
    right: 60px;
    height: 430px;
}
#sendNoteDiv1{
	border: 1px solid;
}
.friendNameDiv{
	margin-top: 5px;
    margin-bottom: 5px;
}
.friendEmailDiv{
	margin-bottom: 5px;
}
.friendThumb{
	margin-top : 35px;
}
.friendInfo{
	border: 1px solid;
    width: 250px;
    height: 250px;
    background: white;
    position : absolute;
    bottom : 150px;
    right : 60px;
}
#addFriend1{
	height : 25px;
	border : 1px solid;
}
.myChatM{
	font-size: 13px;
    font-weight: bold;
    float: right;
}
.myChatT{
	margin-left: 10px;
    font-size: 8px;
    float: right;
}
.myChatCon{
	font-size: 12px;
	float: right;
}
.myChatConThumb{
	padding: 10px;
    float: right;
    width: 50px;
    height: 50px;
}
.myMsg{
	float: right;
    width: 200px;
}
.myConDiv{
	width: 200px;
    height: 60px;
    padding-top: 10px;
}
#addFriend{
	width: 230px;
    height: 250px;
    border: 1px solid;
    position : absolute;
    bottom : 150px;
    right : 60px;
    background: white;
}

#friendSearchResult{
	height : 226px;
}
.addFriendText{
	font-size: 15px;
    font-weight: bold;
    color: #6199f2;
    position: relative;
    top : 35px;
}
.addFriendText2{
	color: #4e5561;
	font-size : 12px;
	position: relative;
	top : 45px;
}
#friendSearchInput{
	position: relative;
	top : 10px;
}
#friendSearchButton{
	position: relative;
	top : 10px;
}
#exitAddFriendButton{
	top: 85px;
    position: relative;
}
#friendPicture {
	position: relative;
	top : 40px;
}
#resultFriendName{
	position : relative;
	top : 50px;
}
#addFriendButton{
	position : relative;
	top : 55px;
}
.addFriendText3{
	position : relative;
	top : 55px;
	color: #4e5561;
	font-size : 12px;
}
#plus {
	float: right;
    position: absolute;
    right: 0px;
    bottom: 12px;
}

#noteContents{
	overflow: scroll;
	overflow-x: hidden;
	height : 335px;
}
.chatRoom {
	position : absolute;
	width: 300px;
	height: 530px;
	border : 1px solid;
	background: white;
	margin: 0px;
}

.roomInfo {
	width: 300px;
	height: 60px;
	background: white;
	border : 1px solid;
}

.roomContent {
	overflow: scroll;
	width: 300px;
	height: 370px;
	overflow-x: hidden;
}

.chatMsg {
	float: left;
	width: 200px;
}

.chatConDiv {
	width: 200px;
	height: 60px;
	padding-top: 10px;
}
.textA{
	margin : 5px;
	float : left;
}

.chatCon {
	font-size: 12px;
}

.chatM {
	font-size: 13px;
	font-weight: bold;
}

.chatT {
	margin-left: 10px;
	font-size: 8px;
}

.chatConThumb {
	padding: 10px;
	float: left;
	width: 50px;
	height: 50px;
}

.roomInfoThumb {
	float: left;
	margin: 5px;
}

.leftRoomInfo {
	float: left;
}
.rightRoomInfo{
	float :	right;	
}
.addContentDiv{
	width: 300px;
	height : 100px;
}
.addCon{
	height : 77px;
	margin : 5px;
}
#minimiAddFriend{
	position : absolute;
	top : 3px;
	right : 3px;
}
#noteList{
    width: 600px;
    height: 400px;
    border: 1px solid;
    position: absolute;
    bottom: 20%;
    right: 30%;
    background: white;
}
#noteList1{
	border : 1px solid;
	height : 65px;
}

#minimiNoteList{
	position : absolute;
	top : 3px;
	right : 3px;
}
#minimiNote{
	position : absolute;
	top : 3px;
	right : 3px;
}
#minimiChat{
	position : absolute;
	top : 3px;
	right : 3px;
}
#minimiInfo{
	position : absolute;
	top : 3px;
	right : 3px;
}
#getChat{
	position : fixed;
	bottom : 30px;
	right : 30px;
}